opencv-python
tensorflow
torch
pyttsx3
speechrecognition
flask
requests
numpy
pillow
pyserial
geopy
twilio          # WhatsApp
uvicorn
pytesseract
fastapi
python-multipart
gtts
opencv-python-headless
numpy
